[submodule "include/pc/glm"]
	path = include/pc/glm
	url = https://github.com/g-truc/glm
[submodule "include/common/fmt"]
	path = include/common/fmt
	url = https://github.com/fmtlib/fmt
[submodule "include/common/robin-map"]
	path = include/common/robin-map
	url = https://github.com/Tessil/robin-map
