.vscode
dist
tmp
*.o
*.pyc
*.gen
__pycache__
lib
libnx
glad
include/pc/glad
include/pc/KHR
include/pc/GLFW
include/common/freetype
include/common/ft2build.h
include/common/eggscript
tmp-setup
src/carton
resources/spritesheets